/* colors */

* {
  al:   #00000000;  /* Transparente */
  bg:   #31324399;    /* Fundo escuro */
  bgfull: #313243;    /* Fundo escuro */
  bga:  #383838;    /* Fundo alternativo */
  fg:   #cdd6f4;    /* Cor de texto */
  ac:   #FF00FF;    /* Magenta vibrante */
  se:   #C084F2;    /* Magenta suave (seleção) */
  bd:   #B5179E;    /* Borda com tom magenta */
}
