[color]
	ui = true

[user]
	name = Otávio Schwanck dos Santos
	email = otavioschwanck@gmail.com

[push]
	default = current

[include]
    path = ~/catppuccin.gitconfig.txt

[delta]
  features=catppuccin-mocha
